section#contact{color:#eee;
    div{color:#eee;
        h2{color:#eee;

        }
        ul{color:#eee;
            li{color:#eee;

            }
        }
        p{color:#eee;
            
    }
}
}